@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --tag-color: #7f5eb4;
  --tags-bg: transparent;
}

html {
  overflow-x: hidden;
}

body {
  background-color: #171717;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.syne {
  font-family: "Syne", sans-serif;
}

.anaheim {
  font-family: "Anaheim", sans-serif;
}

.react-tagsinput {
  background-color: var(--tags-bg);
  /* border: 1px solid #ccc; */
  overflow: hidden;
  /* padding-left: 5px; */
  padding-top: 5px;
}

.react-tagsinput--focused {
  border-color: #a5d24a;
}

.react-tagsinput-tag {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  display: inline-block;
  transform: skew(-10deg) !important;
  color: white;
  font-family: "Syne", sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-left: 3px;
  margin-top: 1px;
  margin-right: 5px;
  outline: none;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  width: 80px;
  text-align: center;
}

.react-tagsinput-remove {
  cursor: pointer;
  font-weight: bold;
}

.react-tagsinput-tag a::before {
  content: " ×";
}

.react-tagsinput-input {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 4px;
  transform: skew(-10deg);
  color: white;
  font-family: "Syne", sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 6px;
  margin-left: 3px;
  margin-top: 1px;
  outline: none;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;
  width: 100px;
  text-align: center;
}

.anim-blink {
  animation: blink 2s linear infinite;
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* https://codepen.io/P1N2O/pen/pyBNzX */
.bg-gradient-anim {
  background: linear-gradient(-25deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.shadowed {
  -webkit-filter: drop-shadow(24px 24px 25px rgba(0, 0, 0, #000));
  filter: url(#drop-shadow);
  -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=24, OffY=24, Color='#444')";
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=24, OffY=24, Color='#444')";
}
