@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #171717;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: "liga";
}

.syne {
  font-family: "Syne", sans-serif;
}

.anaheim {
  font-family: "Anaheim", sans-serif;
}

.react-tagsinput-tag {
  background-color: rgba(67, 56, 202, var(--tw-bg-opacity));
  border-radius: 10px;
  border: transparent;
  color: white;
  display: inline-block;
  font-family: "Syne", sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px 10px 5px 10px;
}
